.sa {
  opacity: 0;
  transition-duration: 1s;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--up {
  transform: translate(0, 100px);
}

.sa--left {
  transform: translate(-100px, 0px);
}

.sa--right {
  transform: translate(100px, 0px);
}
