{{ partial "header.html" . }}

<ul style="list-style:none;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top:60px;">
        <h1>吉田の作成したフライヤー一覧</h1>
      </div>
    </div>
      {{ range .Data.Pages }}
      <div class="row">
      <div class="col-md-6">
        <li><a href="{{ .RelPermalink }}"><h3>{{ .Title }}</h3></a> (<time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>){{ if .Draft }} #Draft{{ end }}</li>

      </div>
      <div class="col-md-3">
        <a href="{{ .RelPermalink }}"><img src="/img/flierslist/{{.LinkTitle}}.jpg" class="img-fluid"></a>
      </div>
    </div>
    <div class="spacer"></div>
    {{ end }}
  </div>
</ul>

{{ partial "footer.html" . }}
