/*レスポンシブな改行が欲しい時に使うクラス*/
.notbr760to1000 {
  display: none;
}
@media screen and (max-width: 760px) {
  .notbr760to1000 {
    display: inline;
  }
}
@media screen and (min-width: 1000px) {
  .notbr760to1000 {
    display: inline;
  }
}

@media screen and (max-width: 760px) {
  .br760to1000 {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .br760to1000 {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .br0to400 {
    display: none;
  }
}

.myinline-block{
  display: inline-block;
}

.tsunaguLogo {
  height: 80px;
  width: auto;
  padding: 0 0 0 0;
}
.tsunaguLogoForNavbar{
  padding: 0 0 0 0;
}

.topabout {
  background: #005fa4;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  line-height: 32px;
}

.topabout a {
  color: #ffffff;
}

.topourmission {
  background: #82c2e9;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
}

.topourmission h1 {
  font-size: 28px;
}

.topourmission a {
  color: #ffffff;
}

/*topforstudent_indexのための記述*/
@media screen and (max-width: 699px) {

  /*　画面サイズ 699以下で適用　*/
  .topforstudent_index {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 700px) {

  /*　画面サイズ 700px以上から適用　*/
  .topforstudent_index {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
  }
}

/*topforstudetのための記述*/
@media screen and (max-width: 699px) {

  /*　画面サイズ 699pxまで適用　*/
  .topforstudent {
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

@media screen and (min-width: 700px) {

  /*　画面サイズ 700px以上から適用　*/
  .topforstudent {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

.topforstudent p {
  font-size: 18px;
}

/*pageTitleのための記述*/
@media screen and (max-width: 699px) {

  /*　画面サイズ 699以下で適用　*/
  .pageTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 700px) {

  /*　画面サイズ 700px以上から適用　*/
  .pageTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
  }
}

/*pageContentのための記述*/
@media screen and (max-width: 699px) {

  /*　画面サイズ 699pxまで適用　*/
  .pageContent {
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

@media screen and (min-width: 700px) {

  /*　画面サイズ 700px以上から適用　*/
  .pageContent {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

.pageContent h3 {
  margin-bottom: 20px;
}

footer .pageContent h3{
  margin-bottom: 5px;
}
footer .pageContent p{
  margin-bottom: 5px;
}

/*facilityListのための記述*/
@media screen and (max-width: 699px) {

  /*　画面サイズ 699pxまで適用　*/
  .facilityList {
    padding-top: 30px;
    letter-spacing: 1px;
    line-height: 32px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 700px) {

  /*　画面サイズ 700px以上から適用　*/
  .facilityList {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

footer {
  background: #eeeeee;
  letter-spacing: 0px;
}
footer .table th, footer .table td{
  border: none;
  font-weight: normal;
}
