<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>吉田信将のポートフォリオ</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- 独自のcss の読み込み -->
    <link rel="stylesheet" href="/mycss/style.css">
    <link rel="stylesheet" href="/mycss/style2.css">
    <link rel="stylesheet" href="/mycss/move.css">
</head>

<body>
    <!--div class="wrap" 読み込みが遅いので、読み込んでから表示をオフに-->
    <header>
        <!-- 画面上部のナビバー-->
        <nav class="navbar navbar-dark navbar-expand-sm portfoliomenu fixed-top" id="normalmenu">
            <a href="/" class="navbar-brand">吉田信将の<br>ポートフォリオ</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navmenu1">
                <div class="navbar-nav">
                    <a href="/introduce" class="navbar-brand">Information</a>
                    <a href="/works" class="navbar-brand">Works</a>
                    <a href="https://github.com/104104104" class="navbar-brand">GitHub</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="spaceForMenu" id="spaceForMenuid"></div>